a {
    text-decoration: none;
    
    font-size: 20px;
}

i {
    font-weight: bolder !important;
}

ul {
    list-style: none;
}



.best {
    height: 300px;
    background-position: center;
    /* background-color: rebeccapurple; */
    /* border: 2px solid red; */
    color: white;
    position: relative;
    overflow: hidden;
}

.view {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 0px;
    background-color: white;
    color: black;
    border: 2px solid black;
    width: 100%;
    visibility: hidden;
    opacity: 0px;
    transition: all 0.4s ease-in-out;
}

.best:hover .view {
    visibility: visible;
    height: 100px;
}