/* Roboto font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* Roboto font*/

/* jost srt */
@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@400;900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
/* jost end */

/* common css srt */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --grey: #535051;
    --font_hanken: "Hanken Grotesk", serif;
    --elsi-font: "Roboto", sans-serif;
    --jost: "Jost", serif;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.active {
    color: #e2bd99 !important;
    font-weight: bold;
}

.heading {
    position: relative;
}

.heading::before {
    content: '';
    position: absolute;
    left: 0px;
    top: -4px;
    background-color: #E2BD99;
    height: 2px;
    width: 25px;
}

/* contact form srt */

header {
    background-color: #32586D;
    color: black !important;
    padding: 20px;
    /* height: 100% !important; */
    position: relative;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: 99;
}

/* banner srt */
.banner {
    background-image: url('../images/contact-banner.jpg');
    background-size: cover;
    background-position: center top;
    height: 80vh;
    display: flex;
    align-items: center;
    margin-top: 115px;
    color: #fff;
    text-align: center;

    h2 {
        font-family: var(--elsi-font);
        margin-bottom: 10px;
        font-size: 40px;
    }

    h5 {
        opacity: 0.8;
    }

    .buttons {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap: 20px;

        a {
            background-color: #fff;
            border-radius: 30px;
            padding: 8px 20px;
            color: #000;
            border: 1.5px solid #fff;
        }

        a:hover {
            border: 1.5px solid #000;
        }

    }
}

/* banner end */

.contact-main {
    margin: 70px 0px 20px 0px;

    .contact-main-left {

        .contact {
            background-color: #EFE7E0;
            padding: 50px 20px;
            border-radius: 5px;
            font-size: 20px;

            h3 {
                font-family: var(--elsi-font);
                color: #133447;
            }

            a {
                color: #000;
                margin-left: 5px;
            }

            a:hover {
                color: #535051;
            }
        }

        .follow-us {
            background-color: #EFE7E0;
            padding: 50px 20px;
            border-radius: 5px;
            margin-top: 20px;

            .icons {
                margin-top: 20px;
                display: flex;
                gap: 15px;
                font-size: 25px;
                font-weight: bolder;

                #instagram {
                    color: rgb(182, 107, 120);
                }

                #facebook {
                    color: blue;
                }

                #twitter {
                    color: #1C96E8;
                }

                #youtube {
                    color: red;
                }
            }
        }
    }

    .contact-main-right {
        background-color: #EFE7E0;
        padding: 60px 90px 50px 90px;
        border-radius: 5px;

        form {
            margin-top: 20px;
            gap: 20px;

            input {
                background-color: transparent;
                outline: none;
                border: none;
                border-bottom: 1px solid black;
                color: #000;
                padding-bottom: 15px;
            }

            input:not(#name) {
                margin-top: 30px;
            }

            input::placeholder {
                color: #133447;
            }

            button {
                width: fit-content;
                padding: 10px 35px;
                border: none;
                background-color: #133447;
                color: #fff;
                font-size: 20px;
                transition: all 0.3s ease-in-out;
                border-radius: 5px;
            }

            button:hover {
                background-color: #e2bd99;
            }
        }

    }
}

/* contact form srt */

/* faq srt */
.frequent {
    .questions-box {
        background-color: #F9F9FB;
        border-radius: 6px;
        padding: 10px 10px;
        height: 120px;

        .question-title {
            font-weight: 700;
        }

        .answer {
            margin: 10px 0px;
        }
    }

    #view-all {
        background-color: #000;
        color: #fff;
        border-radius: 8px;
        padding: 8px 14px;
        border: 0px;
        outline: 0px;
        width: fit-content;
        margin: 10px auto;
        display: block;
        text-align: center;
        border: 1.5px solid #fff;
    }

    #view-all:hover {
        border: 1.5px solid #000;
        /* background-color: #000000c8; */
    }
}

/* fqw end */

/* contact-details srt */
.contact-details {
    background: url('../images/contact-details.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    width: 100%;
    margin: 0px 0px 80px 0px;
    display: flex;
    justify-content: center;
    align-items: center;

    .contact-details-main {
        padding: 60px 30px;
        background-color: #fff;

        .contact-details-inner {
            text-align: center;

            h2 {
                margin: 10px 0px;
            }

            p {
                width: 90%;
                margin: auto 0px;
                margin: 10px 0px;
            }

            a {
                color: #000;
                font-weight: 600;
                font-size: 21px;
            }
        }
    }

}

/* contact-details end */

/* frequently asked questions srt */
.questions-main {
    margin: 30px 0px;

    h2 {
        font-size: 40px;
        text-align: center;
        font-family: var(--elsi-font);
        font-weight: 500;
    }

    .features {
        font-family: var(--jost);

        .title {
            font-family: var(--elsi-font);
            font-size: 38px;
        }

        .content {
            .feature-head {
                margin-top: 20px;

                .f1-icon {
                    font-size: 43px;
                    color: #E4C09E;
                    font-weight: normal;
                }

                .f1-title {
                    font-weight: 400;
                    margin: 13px 0px 15px 0px;
                    font-size: 22px;
                }

                .f1-p {
                    font-size: 16px;
                }

            }
        }

        .questions {
            /* padding: 0px 40px 0px 50px; */

            .q1 {
                font-family: var(--jost);

                .q1-title {
                    border-top: 1px solid #d6d6d6;
                    padding-top: 36px;
                    cursor: pointer;
                    position: relative;

                    h5 {
                        font-weight: normal;
                        font-size: 150px;
                    }
                }

                .q1-content {
                    display: none;
                }
            }
        }
    }

}

/* features and facility end */

/* best collection */
.best-collection-content {
    position: relative;
    /* height: 300px; */
    overflow: hidden;
}

.best-collection-heading h2 {
    font-family: var(--elsi-font);
    font-size: 50px;
}

.view-more {
    position: absolute;
    background-color: white;
    height: 0px;
    width: 100%;
    bottom: 0%;
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.5s;
}

.view-more p {
    font-family: var(--jost);
}

.best-collection-content:hover .view-more {
    opacity: 1;
    height: 150px;
    /* animation: viewmore 0.3s linear; */
    visibility: visible;
    bottom: 0%;
}

.view-more a {
    border: 1px solid #EFE7E0;
    padding: 10px 20px;
    color: black;
    transition: all ease 0.3s;
}

.view-more a:hover {
    background-color: #133447;
    border: 1px solid #133447;
    color: white;
}

/* best collection */