@media (min-width: 1399px) {
    .banner {
        h1 {
            width: 55% !important;
        }
    }

    .menu-icon-toggle {
        display: none;
    }
}

@media (max-width: 1399px) {
    .banner {
        h1 {
            width: 70% !important;
        }
    }

    .menu-icon-toggle {
        display: none;
    }
}

@media (max-width: 1140px) {

    .logo {
        font-size: 22px;
    }

    .nav-links ul li {
        font-size: 18px;
    }

    .menu-icon-toggle {
        display: none;
    }

    .nav-links {
        /* justify-content: start !important; */
        white-space: nowrap !important;
        margin-left: -50px !important;
    }

    .logo-main::after {
        right: 30px !important;
    }
}

@media (max-width: 1024px) {
    .menu-icon-toggle {
        display: none;
    }

    .nav-links {
        /* justify-content: start !important; */
        /* margin-left: -540px !important; */
        white-space: nowrap !important;
        margin-left: -70px !important;
    }

    .logo-main::after {
        top: -15px !important;
        height: 64px !important;
    }

    .nav-links::before {
        top: -20px !important;
        height: 65px;
    }


    .shopLook {
        .products {
            .products-body {

                .product-img,
                .product-img-1,
                .product-img-2,
                .product-img-3 {
                    height: fit-content !important;
                    /* margin-bottom: 10px !important; */
                }
            }
        }
    }
}

@media (max-width: 992px) {

    .logo-main::after {
        top: -23px !important;
        height: 64px !important;
        /* right: 80px !important; */
    }

    .nav-links::before {
        top: -15px !important;
        height: 65px;
    }

    .banner-left {

        h1 {
            font-size: 40px !important;
            margin-bottom: 50px !important;
        }
    }

    .design-left {
        h2 {
            width: fit-content !important;
            display: inline-block !important;
            font-size: 70px !important;
        }
    }

    .design-center {
        .design-center {
            margin-top: 0px !important;
        }
    }

    .design-end {
        justify-content: space-between !important;
        margin-bottom: 30px !important;

        h4,
        p {
            text-align: start !important;
        }

        .design-end-inner {
            width: 100% !important;
        }
    }

    .menu-icon-toggle {
        display: block;
    }

    .design-1-img {
        display: none !important;
    }

    .design-left {
        h2 {
            font-size: 60px !important;
        }

        h4 {
            font-size: 40px !important;
            margin: 0px !important;
        }

        h4,
        p,
        button {
            margin-left: 0px !important;
            text-align: start !important;
        }
    }

    .meet {
        p {
            width: 100% !important;
        }
    }

    .w-Collection-right {
        padding: 30px !important;
    }

    #menu-icon {
        position: absolute;
        left: 30px;
    }

    .menu-icon-toggle {
        height: 100vh !important;
    }

    .get-in-touch-right {
        padding-left: 0px !important;
    }

    .contact-details {
        height: 100% !important;
        padding: 20px 0px !important;
    }


}

@media (max-width: 768px) {
    .menu-icon-toggle {
        display: block;
    }

    .logo {
        margin-left: 40px !important;
    }

    .w-Collection-right {
        .text {
            margin: auto !important;
            width: fit-content !important;

            h4 {
                font-size: 40px !important;
            }
        }

        input {
            width: 100% !important;
            font-size: 20px !important;
        }
    }

    .updated {
        .get-in-touch-right {
            h4 {
                margin: auto !important;
                width: fit-content !important;
                font-size: 35px !important;
            }
        }
    }

    .design-end {
        button {
            width: fit-content !important;
        }
    }

    .history {
        h4 {
            font-size: 30px !important;
            width: 100% !important;
        }
    }

    .add-to-cart-btn a {
        left: 35% !important;
    }

    header {
        height: fit-content !important;
    }

    .banner-bg-img {
        display: none !important;
    }

    .menu-icon-toggle {
        height: 100vh !important;
    }

    #search-input-icon {
        left: 20% !important;
    }

    .contact-main {
        .contact-main-left {
            h2 {
                text-align: center !important;
                font-size: 40px !important;
                width: 100% !important;
            }
        }
    }

    .toggle-filter-side {
        width: 400px !important;
    }

    .product-image-multipacks,
    .product-image-socks {
        height: fit-content !important;
        margin-bottom: 5% !important;
    }

    .shopLook {
        width: 100% !important;

        .products {
            .products-body {
                .price-main {
                    flex-direction: column !important;
                }
            }
        }
    }

    .swiper-main {
        display: none !important;
    }

    .shopLook-main,
    .shopLook-main-shorts {
        height: 100% !important;
    }

    .product-img,
    .product-img-2 {

        img {
            height: 100% !important;
            width: 80%;
        }
    }

    .popularity-dropdown {
        right: -17% !important;
    }

    .swiper-slide {

        .product-card {
            .img {
                height: 320px !important;
            }
        }
    }

    .categories-body {

        .category {
            width: 100% !important;
            height: fit-content !important;
        }
    }

    .best {

        .best-title {
            text-align: start !important;
        }

        .nav-tabs {
            margin-left: 0px !important;
        }
    }

    .ideal {
        .ideal-card {
            font-size: 18px !important;
        }
    }

}

@media (max-width: 576px) {

    .shopping-cart-main,
    .wishlist-main {
        width: 100% !important;
    }

    .banner-left {
        padding: 0px 0px !important;

        h1 {
            font-size: 40px !important;
            width: 100% !important;
        }

        .button {
            font-size: 16px !important;
        }
    }

    .form-main {
        width: 100% !important;
    }

    .menu-list-main {
        width: 100% !important;
    }

    .header-text span {
        font-size: 11px !important;
        display: inline-block;
    }

    .menu-icon-toggle {
        width: 100% !important;
    }

    .menu-icon-toggle {
        height: 100vh !important;
    }

    .nav-icons {
        ul {
            margin-right: 65px !important;
            /* gap: 8px !important; */

            li {
                /* margin-left: 5px; */
            }
        }
    }

    .logo {
        margin-left: 40px !important;
    }

    .toggle-filter-side {
        width: 100% !important;
    }

    .comfort-1,
    .comfort-3 {

        .left,
        .right {
            width: 100% !important;
        }
    }

    .swiper-main {
        /* height: 70vh !important; */

        .swiper-slide img {
            object-position: center top !important;
        }
    }

    .swiper-slide {

        .product-card {
            .img {
                height: 320px !important;
            }
        }
    }

    .size-chart-main,
    .return-main {
        width: 100% !important;
    }
}

@media (max-width: 430px) {
    .logo {
        font-size: 20px !important;
    }

    .logo-main::after {
        top: -19px !important;
        height: 64px;
    }

    .sunshine-main h2 {
        font-size: 45px;
    }

    .sunshine-main p {
        font-size: 16px;
        padding: 12px;
    }

    .add-to-cart-btn a {
        left: 30% !important;
    }

    .shop-now-main a {
        padding: 20px 100px;
    }

    .nav-icons {
        margin-right: 65px !important;

        ul {
            gap: 8px !important;
        }
    }

    body,
    html {
        overflow-x: hidden !important;
    }

    .menu {
        width: 30px !important;
        margin-right: 20px !important;
    }

    .swiper-slide {
        .product-card {
            .img {
                height: 350px !important;
            }
        }
    }
}

@media (max-width: 340px) {

    .menu {
        width: 30px !important;
        margin-right: 20px !important;
    }

    .nav-links {
        .logo {
            margin-left: auto !important;
        }
    }

    .nav-icons {

        ul {
            /* gap: 8px !important; */
        }

        i {
            font-size: 17px !important;
        }

        ul {
            li {
                margin-left: 1px !important;
            }
        }
    }

    .logo {
        margin-left: 40px !important;
    }

    body,
    html {
        /* overflow-x: hidden !important; */
    }

}