/* common css srt */
/* Elsie Swash Caps font*/
@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@400;900&display=swap');
/* Elsie Swash Caps font*/

/* jost srt */
@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@400;900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
/* jost end */

/* common css srt */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --grey: #535051;
    --font_hanken: "Hanken Grotesk", serif;
    --elsi-font: "Elsie Swash Caps", serif;
    --jost: "Jost", serif;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* common css end */

/* banner srt */
.swiper-main {
    height: 100vh;

    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide img {
        margin-top: 30px;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

/* banner end */

/* comfort srt */
.comfort {
    height: 100%;

    .comfort-1 {
        margin-top: 10px;
        height: fit-content;
        width: 100%;

        .left {
            height: fit-content;
            width: 50%;
        }

        .right {
            height: 100%;
            width: 50%;
        }
    }

    .comfort-2 {
        text-transform: uppercase;
        margin: 20px 0px 0px 0px;
        color: #000;
        text-align: center;
        font-family: var(--elsi-font);
        font-size: 30px;
        word-spacing: 5px;

        .up {
            font-weight: 600;
        }
    }

    .comfort-3 {
        margin-top: 10px;
        height: fit-content;
        width: 100%;

        .left {
            height: fit-content;
            width: 50%;
        }

        .right {
            height: 100%;
            width: 50%;
        }

    }
}

/* prime selections srt */

.container-main {

    position: relative;
    /* height: 100%; */
    overflow: hidden;

    /* prime selection srt */
    .prime {
        margin: 60px 0px;

        h5 {
            text-transform: uppercase;
            margin: 0px 0px 0px 0px;
            color: #000;
            text-align: center;
            font-family: var(--elsi-font);
            font-size: 30px;
            word-spacing: 5px;

            span {
                font-weight: 600;
            }
        }

        .background-img {
            position: relative;
            background-image: url('../images/men/Mens_collection.png');
            background-position: center top;
            background-size: cover;
            height: 650px;
            width: 100%;

            .plus-circle {
                position: relative;
                background-color: green;
                width: 100%;
                height: 100%;
            }

            .plus-circle::before {
                content: '';
                position: absolute;
                background-color: #fff;
                background-color: red;
                width: 60px;
                height: 60px;
                border-radius: 50%;
            }

            .plus-1-circle::before {
                top: 10%;
                left: 0%;
            }

            .plus-2-circle::before {
                bottom: 10%;
                left: 44%;
            }

            .plus {
                position: absolute;
                transform: translateX(-50%);
                color: #fff;
                cursor: pointer;
            }

            .plus-1 {
                top: 25%;
                left: 52%;
            }

            .plus-2 {
                bottom: 40%;
                left: 47%;
            }

            @keyframes plus-animation {}
        }

    }

    /* prime selection end */

    /* shop the look vest srt */
    .shopLook-main,
    .shopLook-main-shorts {
        height: 70%;

        .shopLook {
            width: 70%;
            background-color: #fff;
            border: 1px solid #000;
            border-radius: 15px;
            padding: 20px 20px;
            position: absolute;
            top: 23%;
            /* left: 0%; */
            margin: 0px auto;
            transition: all 0.8s ease-in-out;

            .shopLookMain {
                font-family: var(--jost);

                .cross-icon {
                    cursor: pointer;
                    font-size: 19px;
                }

                h5 {
                    font-size: 18px !important;
                    font-weight: 500;
                }
            }

            .products {
                height: 100%;
                padding: 0px;
                margin: 0px;

                .products-body {
                    border: 1px solid #000;
                    border-radius: 10px;
                    padding: 5px 5px;
                    /* height: 100%; */

                    .product-img,
                    .product-img-1,
                    .product-img-2,
                    .product-img-3 {
                        height: 280px;
                        width: 100%;
                        border-radius: 10px;
                        margin-bottom: 15%;

                        .heart-icon {
                            position: absolute;
                            right: 0px;
                            top: 10%;
                            font-size: 18px;
                            cursor: pointer;
                            width: fit-content;
                            height: fit-content;
                        }

                        .heart-icon:hover {
                            color: red;
                        }
                    }

                    .product-code {
                        font-size: 14px;
                        margin-top: 10px;
                    }

                    .product-description {
                        margin-top: 20px;
                        font-size: 13px;
                    }

                    .price-main {
                        /* white-space: nowrap; */
                        justify-content: space-between;

                        .addToBag {
                            cursor: pointer;
                            background-color: #000;
                            color: #fff;
                            border-radius: 5px;
                            padding: 6px 10px;
                            font-size: 10px;
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
    }

    /* shop the look vest end */

    /* shop the look vest srt */
}

/* shop the look vest end */


/* prime selections end  */
.shopLook-main .shopLook,
.shopLook-main-shorts .shopLook {
    transform: translateY(120%);
    visibility: hidden;
    transition: transform 0.8s ease-in-out;
}

.shopLook-main .shopLook-toggle,
.shopLook-main-shorts .shopLook-toggle {
    transform: translateY(0%);
    visibility: visible;
}

/* essentials made amazing srt */
.essentials {
    margin: 30px 0px;

    h5 {
        text-transform: uppercase;
        margin: 0px 0px 0px 0px;
        color: #000;
        text-align: center;
        font-family: var(--elsi-font);
        font-size: 30px;
        word-spacing: 5px;

        span {
            font-weight: 600;
        }
    }

    .categories-main {
        height: 100%;

        .categories-body {
            flex-shrink: 0;
            width: 167px;
            height: 200px;

            a {

                .product-img-shorts,
                .product-img-tShirts,
                .product-img-bottomwear,
                .product-img-Underwear,
                .product-img-vests,
                .product-img-thermal {
                    background-image: url('../images/men/essentials-shorts.jpeg');
                    background-size: cover top;
                    background-position: center;
                    height: 200px;
                    width: 100%;
                    border-radius: 5px;
                }

                .product-img-tShirts {
                    background-image: url('../images/men/essentials-tShirts.jpeg');
                }

                .product-img-bottomwear {
                    background-image: url('../images/men/essentials-bottomwear.jpeg');
                }

                .product-img-Underwear {
                    background-image: url('../images/men/essentials-underwear.jpeg');
                }

                .product-img-thermal {
                    background-image: url('../images/men/essentials-thermal.jpeg');
                }

                .product-img-vests {
                    background-image: url('../images/men/essentials-vests.jpeg');
                }

                h6 {
                    color: #000;
                    font-size: 20px;
                    font-family: var(--jost);
                    text-align: center;
                    margin: 3px;
                }
            }
        }

    }
}

/* essentials made amazing end */

/* multiPacks and socks srt*/
.multiPacks {
    margin: 60px 0px;

    .product-image-multipacks,
    .product-image-socks {
        height: 280px;
        width: 100%;
        border-radius: 8px;
        margin-bottom: 8%;
    }
}

/* multiPacks and socks end*/

/* popular searches */
.searches {
    h5 {
        text-transform: uppercase;
        margin: 0px 0px 0px 0px;
        color: #000;
        text-align: start;
        font-family: var(--elsi-font);
        font-size: 30px;
        word-spacing: 5px;

        span {
            font-weight: 600;
        }
    }

    .men,
    .women {
        h6 {
            font-size: 22px;
            margin-top: 10px;
            font-family: var(--jost);
        }

        .categories-main {
            flex-wrap: wrap;

            a {
                font-size: 17px;
                color: #000;
                font-family: var(--font_hanken);
                white-space: nowrap;
            }

            a:hover {
                color: #484F58;
                font-weight: 600;
            }

            .men-categories {
                position: relative;
            }

            .men-categories::before {
                content: '';
                position: absolute;
                left: -20%;
                top: 50%;
                transform: translateY(-50%);
                background-color: #000;
                height: 80%;
                width: 2px;
            }
        }
    }

    .women {
        margin-top: 30px;
    }
}

/* popular searches */