@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Heebo:wght@100..900&family=Italiana&family=Italianno&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cormorant:ital,wght@0,300..700;1,300..700&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Heebo:wght@100..900&family=Italiana&family=Italianno&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Elsie Swash Caps font*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* Elsie Swash Caps font*/

/* jost srt */
@import url("https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@400;900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
/* jost end */

/* syncopate */
@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');

/* syncopate */
:root {
    --grey: #535051;
    --font_hanken: "Hanken Grotesk", serif;
    --elsi-font: "Roboto", sans-serif;
    --jost: "Jost", serif;
    /* --syncopate: "Syncopate", serif; */
}

/* common css srt */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.active {
    color: #e2bd99 !important;
    font-weight: bold;
}

.heading {
    position: relative;
}

.heading::before {
    content: '';
    position: absolute;
    left: 0px;
    top: -4px;
    background-color: #E2BD99;
    height: 2px;
    width: 25px;
}

body,
html {
    overflow-x: hidden !important;
}

/* common css end */


/* header srt */
header {
    background-color: #32586D;
    color: black !important;
    padding: 20px;
    height: 100% !important;
    position: relative;
    /* z-index: 1; */
}

/* main srt */
/* breadcrumb srt */
.breadcrumb {
    padding: 0px 20px;
    font-family: var(--jost);

    a {
        color: gray;
        font-size: 22px;
        /* margin: 20px 0px; */
    }

    i {
        color: gray;
        margin: 10px 0px;
        font-size: 15px;
    }

    .active-breadcrumb {
        color: #000 !important;
    }
}

/* breadcrumb end */

h1 {
    margin: 0px auto;
    font-family: var(--elsi-font);
    font-size: 30px;
    text-transform: uppercase;
    width: fit-content;
}

.shorts-filters-main {
    padding: 0px 20px;

    .filter-body {

        i {
            font-weight: normal;
        }

        .title {
            font-weight: 500;
        }

        .filter {
            cursor: pointer;

            .number {
                border-radius: 50%;
                padding: 0px 4px;
                background-color: #000;
                color: #fff;
                margin-left: 2px;
                font-size: 12px;
            }
        }

        .shorts-sort-by {
            position: relative;

            .sort-by-brand {
                cursor: pointer;
            }

            .angle-up-icon {
                display: none;
            }

            .popularity-dropdown {
                position: absolute;
                top: 100%;
                right: -50px;
                z-index: 10;
                background-color: #fff;
                border: 1px solid #000;
                border-radius: 10px;
                padding: 0px 0px;
                visibility: hidden;
                opacity: 0;

                a {
                    color: #000;
                    font-weight: 500;
                    font-family: var(--jost);
                    padding: 0px 7px;
                    border-radius: 4px;
                }

                li:hover,
                li:hover a {
                    color: #fff;
                    background-color: #32586D;
                    font-weight: 500;
                }
            }

            .popularity-dropdown-toggle {
                padding: 17px 17px;
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

.quick-filter {
    padding: 0px 20px;
    overflow-x: scroll;
    padding: 10px;

    h5 {
        font-family: var(--jost);
        margin-top: 20px;
        font-weight: normal;
        white-space: nowrap;
    }

    .size-body {
        .QF-body {
            border: 2px solid lightblue;
            background-color: #E3EEF6;
            padding: 1px 20px;
            border-radius: 10px;
            cursor: pointer;
            white-space: nowrap;
        }

        .cross-icon {
            display: none;
        }

        .toggle-cross-icon {
            display: inline-block;
        }
    }
}

.filter-side-toggle {
    background-color: #fff;
    border-radius: 1px solid #000;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99;
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0;
    width: 0px;

    .filter-inside {
        overflow-y: scroll;
        height: 100%;
        position: relative;
        padding: 0px 20px;

        .filter-body {
            padding-bottom: 120px;
            position: relative;
            /* height: 100vh; */

            .title {

                .cross-icon {
                    font-size: 19px;
                    cursor: pointer;
                    font-weight: 500;
                }

            }

            .filters {
                position: relative;

                .filter-type {
                    cursor: pointer;

                    .angle-up {
                        display: none;
                        font-weight: normal;
                    }

                    .angle-down {

                        font-weight: normal;
                    }
                }

                .dropdown {
                    height: 100vh;
                    border-radius: 10px;
                    display: none;
                }

            }

            .menu-list {
                /* padding: 33px 30px; */
                font-family: var(--jost);

                li {
                    a {
                        color: #000;
                        transition: all 0.3s ease-in-out;

                        i {
                            font-size: 19px;
                        }

                        .angle-right,
                        .angle-down {
                            font-size: 14px;
                        }

                        .angle-down {
                            display: none;
                        }
                    }
                }

                .li-dropdown {
                    border: 2px solid black;
                    border-radius: 7px;
                    margin-top: 5px;
                    padding: 5px 30px;
                    display: none;
                    height: 100%;

                    a {
                        color: #000;
                    }


                    .dropdown-item {
                        position: relative;
                    }
                }
            }
        }

        .button {
            position: fixed;
            bottom: 0%;
            left: 0px;
            border-top: 0.1px solid #747272;
            height: 100px;
            margin-left: -20px;
            width: 100%;
            z-index: 999;
            background-color: #fff;

            button {
                padding: 3px 20px;
                border: 1px solid #747272;
                height: fit-content;
                border-radius: 10px;
                font-size: 18px;
            }

            .clear {
                background-color: #fff;
            }

            .apply {
                background-color: #535051 !important;
                color: #fff;
            }

        }
    }


}


.toggle-filter-side {
    /* overflow-y: scroll; */
    transform: translateX(0%);
    visibility: visible;
    opacity: 1;
    width: 400px;
}

.body-toggle {
    overflow: hidden;
}

.body-toggle::-webkit-scrollbar {
    width: 0px !important;
}

.products {
    .product-box {
        font-family: var(--jost);
        position: relative;
        border-radius: 15px;
        border: 1px solid #747272;
        background-color: #fff;
        padding: 5px 12px;
        border-radius: 10px;
        cursor: pointer;



        .heart-icon {
            position: absolute;
            right: 18px;
            top: 15px;
            z-index: 3;
            font-size: 22px;
            cursor: pointer;
        }

        .heart-icon:hover {
            color: red;
        }

        .name {

            a {
                color: black;
            }

            .brand-name {
                font-weight: 700;
            }
        }

        .product-description {
            font-size: 14px;
        }

        .price {

            .previous-price {
                position: relative;
            }

            .previous-price::before {
                position: absolute;
                content: '';
                width: 110%;
                height: 1px;
                left: 0px;
                top: 50%;
                transform: translateY(-50%);
                background-color: black;
            }

            .discount {
                color: red;
            }
        }
    }

}

.product-img {
    position: relative;
    overflow: hidden;
    /* Prevents next image from showing */
    width: 100%;
    height: 100%;
}

.swiper-wrapper {
    img {
        width: 100% !important;
        height: 300px !important;
        object-position: center top !important;
    }
}

.swiper-slide {
    display: none;
    /* background-color: #F0F0F0; */

    img {
        border-radius: 100px !important;
    }
}

.main-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out;
    border-radius: 15px !important;
}


/* swiper js */

/* main end */