/* Elsie Swash Caps font*/
@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@400;900&display=swap');
/* Elsie Swash Caps font*/

/* jost srt */
@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@400;900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
/* jost end */

/* common css srt */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --grey: #535051;
    --font_hanken: "Hanken Grotesk", serif;
    --elsi-font: "Elsie Swash Caps", serif;
    --jost: "Jost", serif;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.active {
    color: #e2bd99 !important;
    font-weight: bold;
}

.heading {
    position: relative;
}

.heading::before {
    content: '';
    position: absolute;
    left: 0px;
    top: -4px;
    background-color: #E2BD99;
    height: 2px;
    width: 25px;
}

/* common css end */

/* header srt */
header {
    background-color: #32586D;
    padding: 20px;
    height: 100vh;
    position: relative;
    /* z-index: 1; */
}

/* navbar srt */

.main-nav {
    margin-top: 30px;
    position: relative;
    z-index: 4;

    .nav-head {
        position: relative;
        height: 50px;
        font-family: var(--jost);
        background-color: transparent;

        li {
            list-style: none;
        }

        a {
            color: white;
        }

        .logo-main {
            position: relative;

            .logo {
                font-size: 28px;
                font-family: var(--elsi-font);
            }

            .menu {
                height: 8px;
                width: 35px;
                border: 1px solid #d5c7b9;
            }

            .menu1,
            .menu2 {
                transition: all 0.8s ease-in-out;
            }

            .menu1-toggle {
                transform: rotate(50deg);
                margin-top: 10px;
            }

            .menu2-toggle {
                transform: rotate(-50deg);
                margin-top: -15px;
            }
        }

        .logo-main::after {
            content: '';
            position: absolute;
            top: -15px;
            right: 0px;
            height: 64px;
            width: 2px;
            background-color: #D5C7B9;
        }

        .nav-links {
            position: relative;

            ul {
                position: relative;
                font-family: var(--jost);
                font-size: 21.5px;
            }

            ul li a:hover {
                color: #e2bd99 !important;
            }

            .logo {
                font-size: 28px;
                font-family: var(--elsi-font);
            }
        }

        .nav-links::before {
            content: '';
            position: absolute;
            top: -18px;
            right: 0px;
            height: 62px;
            width: 2px;
            background-color: #D5C7B9;
        }

        .nav-icons {
            i {
                color: #e2bd99;
                font-size: 20px;
                margin: 0px;
                font-weight: bolder;
                padding: 0px;
            }
        }

    }

    .nav-head::before,
    .nav-head:after {
        content: '';
        position: absolute;
        left: 0px;
        height: 2px;
        width: 100%;
        background-color: #D5C7B9;
    }

    .nav-head::before {
        top: -7px;
    }

    .nav-head::after {
        bottom: -8px;
    }
}

.main-nav:before,
.main-nav:after {
    content: '';
    position: absolute;
    top: -7px;
    height: 64px;
    width: 2px;
    background-color: #D5C7B9;
}

.main-nav::before {
    left: 10px;
}

.main-nav::after {
    right: 10px;
}

.nav-icons ul {
    position: relative;
}

/* navbar end */


/* banner srt */
.banner {
    margin-top: 100px;
    color: white;
    height: 100%;

    .banner-left {
        padding: 0px 20px;
        height: 100%;

        h1 {
            font-family: var(--elsi-font);
            font-size: 75px;
            white-space: no-wrap;
            margin-bottom: 50px;

            .sk-main {
                color: #000;
                color: #E2BD99;
                font-weight: 400;
            }
        }

        .button {
            background-color: transparent;
            font-size: 22px;
            padding: 12px 12px;
            border-radius: 5px;
            border: 2px solid #ffff;
            transition: all 0.3s ease-in-out;
            color: #fff;
            z-index: 2;
            text-transform: uppercase;
            font-family: var(--jost);
        }

        .button:hover {
            background-color: #8A5C40;
            border: 2px solid #8A5C40;
            color: #fff;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
    }
}

/* banner end */

/* header end */

/* bg-img srt */
.bg-image {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100vh;
    width: 40%;
    z-index: 3;
}

/* bg-img end */

/* menu srt */
.menu-icon-toggle {
    height: 100vh;
    width: 380px;
    background-color: #133447;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translateX(-100%);
    transition: all 1s ease-in-out;
    visibility: hidden;
    color: white;
    z-index: 99;

    .title {
        .title-text {
            font-family: var(--elsi-font);
            font-size: 35px;
            color: #E2BD99;
        }

        .cross {
            font-size: 25px;
            color: #E2BD99;
            transition: all 0.3s ease-in-out;
        }

        .cross:hover {
            color: white;
            cursor: pointer;
        }
    }

    ul {
        list-style: none;

        li {
            font-size: 20px;
        }

        li :hover {
            color: #e2bd99;
        }
    }

    a {
        text-decoration: none;
        color: #fff;
    }
}

.toggle-menu {
    transform: translateX(0%);
    visibility: visible;
}

/* menu end */

/* main srt */
main {

    /* about us srt */
    .about {
        margin: 30px 0px;

        .col-lg-4 {
            border: 5px solid white;
            overflow: hidden;
            position: relative;
        }

        .button {
            background-color: transparent;
            font-size: 25px;
            padding: 8px 10px;
            border-radius: 5px;
            border: 2px solid #fff;
            background-color: #fff;
            transition: all 0.3s ease-in-out;
            color: #000;
            z-index: 2;
        }

        .button:hover {
            border: 2px solid #8A5C40;
            background-color: #8A5C40;
            color: #fff;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .about-box {
            background-position: center;
            background-size: cover;
            height: 280px;
            border-radius: 5px;
            border: 12px solid transparent;
            transition: all 0.3s ease-in-out;
        }

        .col-lg-4:hover .about-box {
            filter: blur(1.7px);
        }

        .about-box-1 {
            background: url('../images/about-img.jpg');
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }

        .about-box-2 {
            background: url('../images/about-img2.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }

        .about-box-3 {
            background: url('../images/about-img.jpg');
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }

        .about-button,
        .button2 {
            position: absolute;
            top: 50%;
            left: 48%;
            transform: translate(-50%);
            white-space: no-wrap;
            font-size: 21px;
        }

        .button2 {
            margin-top: 20px;
            top: 60%;
            left: 40%;
            border: 2px solid #8A5C40;
            background-color: #8A5C40;
            color: #fff;
        }

        .button2:hover {
            border: 2px solid #fff;
            background-color: #fff;
            color: #000;
        }

        h3 {
            position: absolute;
            top: 23%;
            left: 15%;
            font-family: var(--elsi-font);
            font-weight: 500;
            font-size: 40px;
        }
    }

    /* about us end */

    /* features and facility srt */
    .features {
        font-family: var(--jost);

        .title {
            font-family: var(--elsi-font);
            font-size: 38px;
        }

        .content {
            .feature-head {
                margin-top: 20px;

                .f1-icon {
                    font-size: 43px;
                    color: #E4C09E;
                    font-weight: normal;
                }

                .f1-title {
                    font-weight: 400;
                    margin: 13px 0px 15px 0px;
                    font-size: 22px;
                }

                .f1-p {
                    font-size: 16px;
                }

            }
        }

        .questions {
            /* padding: 0px 40px 0px 50px; */

            .q1 {
                font-family: var(--jost);

                .q1-title {
                    border-top: 1px solid #d6d6d6;
                    padding-top: 36px;
                    cursor: pointer;
                    position: relative;

                    h5 {
                        font-weight: normal;
                    }

                    .close {
                        position: absolute;
                        right: 0px;
                        display: none;
                        transition: all 0.6s ease-in-out;
                    }
                }

                .q1-content {
                    display: none;
                }
            }
        }
    }

    /* features and facility end */
}

/* main end */