@media (min-width: 1399px) {}

@media (max-width: 1399px) {}

@media (max-width: 1140px) {}

@media (max-width: 1024px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {
    .packs {
        .packs-left {
            display: none;
        }
    }

    .packs-right {
        width: calc(100% - 0px) !important;
    }

    .packs-body {
        padding: 20px !important;
    }
}

@media (max-width: 650px) {}

@media (max-width: 576px) {}